@media (max-width: 768px) {
    
    .box{
        
        width: 100%;
    }
    
    .menu{
        
        width: 100%;
        margin-right: 30px;
    }
            
    .aboutP{
        
        width: 16%;
    }
        
    .h3{
        
        font-size: 24px
    }
    
    .aboutText{
        
        height: 112px;
        overflow: hidden;
    }
    
    .start{
        
        width: 32%;
    }
    
    .start p{
        
        height: 180px;
        overflow: hidden;        
    } 
       
    .start:after{
        
        display: none;
    }
    
    .recent .category{
        
        display: none;
    }
    
    .partners{
        
        width: 768px;
        margin: auto;
    }
    
    .partners img{
        
        margin-right: 5%;
    }
    
    .news div{
        
        width: 23%;
        height: 205px;
        overflow: hidden;
    }   
}

@media (max-width: 480px){
    
    .box{
        
        height: 2280px;
        overflow: hidden;
    }
    
    .logo{
        
        width: 100%;
        margin-left: 150px;
        float: left;
    }
    
    .menu{
        
        width: 245px;
        float: left;
        clear: both;
        margin: 0 130px;
        height: 230px;
    }
    
    .mobileMenu{
        
        display: block;
        width: 235px;
        padding: 5px;
        text-align: center;
        background-color: rgba(51, 0, 51, .7);
        display: block;
    }
    
    .menu .mobileMenu{
        
        margin: 0;
    }
        
    .menu li{
        
        float: none;
        text-align: center;
        width: 235px;
        padding: 5px;
        display: none;
        background-color: rgba(51, 0, 51, .7);
    }
    
    .menu li:hover{
        
        background-color: rgba(51, 0, 51, .9);
        border-bottom: 1px solid #edbfff;
    }
    
    
    .menu:hover > ul li{
        
        display: block;
    }
    
    .menu:hover > ul li:first-child{
        
        display: none;
    }
    
    .aboutP{
        
        width: 410px;
        height: 120px;
        margin-top: 10px;
        float: left;
    }
        
    .aboutP a{
        
        margin-left: -200px;
        margin-top: -50px;        
    }
    
    .purple{
        
        position: absolute;
        height: 450px;
    }
    
    .updates{
        
        height: 100px;
    }
    
    .recent{
        
        opacity: 0;
    }
    
    .partners img{
        
        margin-top: -200px;
    }
    
    .news div{
        
        width: 550px;
        height: 118px;
        margin-top: 10px;
        float: left;
    }
    
    .news p{
        
        width: 450px;
    }
    
    .footMenu{
        
        margin-left: -10px;
        width: 500px;
        margin-top: -50px;
    }
    
    .footer .footMenu li{
        
        display: block;
        height: 200px;
        background: none;
        float: left;
        width: 65px;
        font-size: 15px;
        height: 30px
    }
    
    .footer .footMenu li a{
        
        font-size: 15px;
        margin: 0;
    }
    
    .footer .footMenu:hover ul li:first-child{
        
        display: block;
    }
    
    .footMenu li:hover{
        
        border-bottom: none;
    }
}