* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.width__wrapper {
  width: 960px;
  margin: auto; }

button {
  color: #fff;
  border-radius: 18px;
  background-color: transparent;
  border: 2px solid #ff4e50;
  outline: none; }
  button:hover {
    color: #ff4e50;
    border-color: #ff4e50;
    cursor: pointer; }

header {
  height: 700px;
  background: url(../img/background.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  header .title {
    float: left;
    margin-top: 46px;
    text-transform: uppercase;
    color: #ffffff;
    font: 700 20px Montserrat; }
  header .auth {
    float: right;
    margin-top: 46px; }
    header .auth .auth__login {
      border: none;
      margin-right: 20px; }
    header .auth .auth__signup {
      border-color: #fff;
      width: 90px;
      height: 36px; }
      header .auth .auth__signup:hover {
        border-color: #ff4e50; }
  header .caption {
    width: 490px;
    margin: auto;
    padding-top: 226px;
    text-align: center; }
    header .caption h1 {
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 52px; }
    header .caption p {
      font: 300 24px Roboto; }
    header .caption .caption__find {
      background-color: #ff4e50;
      height: 40px;
      width: 225px;
      margin-top: 35px; }
      header .caption .caption__find:hover {
        background-color: #fff; }

.content {
  position: absolute;
  width: 100%;
  top: 700px;
  background-color: #ffffff; }
  .content .how {
    margin-top: 100px;
    height: 460px;
    margin-bottom: 120px; }
    .content .how h4 {
      text-align: center;
      margin-bottom: 40px; }
    .content .how .instruction {
      float: left;
      width: 960px;
      height: 500px;
      padding: 10px;
      margin-top: -50px; }
      .content .how .instruction .slick-arrow {
        border: none; }
  .content .partners {
    text-align: center;
    height: 370px;
    margin-bottom: 100px; }
    .content .partners h4 {
      margin-bottom: 35px; }
    .content .partners .partner {
      width: 240px;
      margin-bottom: 50px;
      float: left; }
      .content .partners .partner h5 {
        margin: 15px 0; }
      .content .partners .partner p {
        margin: auto;
        color: #666666;
        font: 300 14px Roboto;
        width: 85%; }
    .content .partners .others {
      color: #ff4e50;
      width: 192px;
      height: 40px;
      margin: auto; }
      .content .partners .others:hover {
        background-color: #ff4e50;
        color: #fff; }
  .content .activities {
    clear: both; }
    .content .activities .activity {
      margin-bottom: 100px; }
      .content .activities .activity h4 {
        text-align: center;
        margin-bottom: 35px; }
      .content .activities .activity .grid-sizer, .content .activities .activity .grid-item {
        width: 30%; }
        .content .activities .activity .grid-sizer img, .content .activities .activity .grid-item img {
          height: 90%;
          width: 90%; }
  .content .ideas {
    width: 410px;
    margin: auto;
    text-align: center; }
    .content .ideas h4 {
      margin-bottom: 35px; }
    .content .ideas p {
      margin-bottom: 40px; }
    .content .ideas input {
      width: 240px;
      height: 40px;
      padding: 5px;
      box-sizing: border-box; }
    .content .ideas .ideas__search {
      background-color: #ff4e50;
      width: 160px;
      height: 40px; }
      .content .ideas .ideas__search:hover {
        background-color: #fff;
        color: #ff4e50; }

footer {
  position: absolute;
  width: 100%;
  top: 2800px;
  border-top: 4px solid #ff4e50; }
  footer .menu {
    float: left;
    margin: 36px 100px 36px 0; }
    footer .menu p {
      text-transform: uppercase;
      color: #ff4e50;
      font: 700 16px Montserrat; }
    footer .menu h5 {
      font: 700 14px Montserrat;
      margin-bottom: 16px; }
    footer .menu li {
      list-style: none; }
    footer .menu a {
      font: 300 14px / 24px Roboto;
      color: #666;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
